@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url('../images/banner/picture@2x-min.png');
    }

    .item-1::before  {
        background-image: url('../images/sprite/alarm@2x.svg');
      }
      
      .item-2::before  {
        background-image: url('../images/sprite/line@2x.svg');
      }
      
      .item-3::before  {
        background-image: url('../images/sprite/computer@2x.svg');
      }
      
      .item-4::before  {
        background-image: url('../images/sprite/book2@2x.svg');
      }
      
      .item-5::before  {
        background-image: url('../images/sprite/home@2x.svg');
      }
      
      .item-6::before  {
        background-image: url('../images/sprite/line@2x.svg');
      }
}
