.singup-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
    
    .singup-form__button {
    font-size: 14px;
    color: $primary-white-color;
    font-weight: bold;
    text-transform: uppercase;
    width: 148px;
    height: 42px;
    border-color: transparent;
    background-color: $button-color;
    cursor: pointer;
    }
    
    .singup-form__input::-webkit-input-placeholder {
    font-family: $main-font-text;
    color: $font-singup-form;
    font-style: italic;
    }
    
    .singup-form__input::-moz-placeholder {
    font-family: $main-font-text;
    color: $font-singup-form;
    font-style: italic;
    }
    
    .singup-form__input:-ms-input-placeholder {
    font-family: $main-font-text;
    color: $font-singup-form;
    font-style: italic;
    }
    
    .singup-form__input::placeholder {
    font-family: $main-font-text;
    color: $font-singup-form;
    font-style: italic;
    }
    
    .singup-form input {
    width: 228px;
    border: 1px solid $footer-border-color;
    padding: 10px;
    }