$main-font-stack: 'Montserrat', sans-serif;
$main-font-text: "Roboto", sans-serif;
$tagline-font: "Kaushan Script", sans-serif;
$main-text-size: 14px;
$primary-white-color: rgb(255, 255, 255);
$primary-dark-color: rgb(51, 51, 51);
$secondary-dark-color: rgb(153, 153, 153);
$primary-accent-color: rgb(252, 227, 138);
$main-underline-color: rgb(252, 227, 138);
$footer-border-color: rgb(229, 229, 229);
$footer-legal-info-color: #f48989;
$button-color: #95e1d3;
$font-singup-form: rgb(204, 204, 204);
$primary-underline-color: #f48989;